doctype html 
html
  head 
    title NOte app 
    link(rel='stylesheet', href='/static/styles.css')

  body 
    header.navbar 
      h1 
        a(href='/') Note Taker application 
    
      nav.nav 
        a(href='/notes') All notes 
        a(href='/archive') Contact

    block content