extends layout.pug 

block content 
  div.container
    h1 All notes 
  
    if deleted 
       p.success your note deleted successfully
    each note in notes 
     div.note-wrapper
       a.note(href=`/notes/${ note.id }`) #{ note.title }
       a.delete(href=`${ note.id}/delete`) delete